.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    padding: 10px 15px;
    background-color: var(--mainColor);
    border: none;

}
.back-to-top:active{
    background-color: lightblue;
}